// Eww colors for Emilia rice
$bg: #000000;
$bg-alt: #282828;
$fg: #fbf1c7;
$black: #a89984;
$lightblack: #282828;
$red: #cc241d;
$blue: #458588;
$cyan: #689d6a;
$magenta: #b16286;
$green: #98971a;
$yellow: #d79921;
$archicon: #0f94d2;
