* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, JetBrains Mono NF, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#waybar.bottom > box.horizontal {
  margin-left: 0pt;
  margin-right: 0pt;
  margin-bottom: 0pt;
  padding: 5pt 2pt;
  border-radius: 0px;
  background: #000000;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    margin: 0px 0px;
    /* Avoid rounded borders under each button name */
    border: 0;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    color: #a37800;
}

#window {
    border: 3px solid #458588;
    border-radius: 0px 3px 3px 0px;
    padding: 0px 15px;
    color: #ebdbb2;
    background: #000000;
}
#workspaces {
    border: 3px solid #458588;
    border-radius: 0px 3px 3px 0px;
}

#workspaces button {
    padding: 0px 13px;
    color: #ebdbb2;
}

#workspaces button lablel{
    font-weight: bold;
}

#workspaces button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#workspaces button.focused {
    color: #000000;
}

#workspaces button.active {
    color: #000000;
    background: #458588;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#custom-cava,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    margin: 0 0px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 0px;
    /* background-color: rgba(43, 48, 59, 1.0); */
}

#custom-clocktext {
    background: #b8bb26;
    border-radius: 3px 0px 0px 3px;
    padding: 0 10px;
    color: #000000;
    margin-left: 5px;
}
#clock {
    border: 3px solid #b8bb26;
    color: #ebdbb2;
    border-radius: 0px 3px 3px 0px;
    background: #000000;
}

label:focus {
    background-color: #000000;
}

#custom-memorytext {
    background: #b16286;
    border-radius: 3px 0px 0px 3px;
    padding: 0 10px;
    color: #000000;
    margin-left: 10px;
}
#memory {
    border: 3px solid #b16286;
    color: #ebdbb2;
    border-radius: 0px 3px 3px 0px;
    background: #000000;
}

#custom-networktext {
    background: #8ec07c;
    border-radius: 3px 0px 0px 3px;
    padding: 0 10px;
    color: #000000;
    margin-left: 10px;
}
#network {
    border: 3px solid #8ec07c;
    color: #ebdbb2;
    border-radius: 0px 3px 3px 0px;
    background: #000000;
}

#network.disconnected {
    background-color: #f53c3c;
}

#custom-pulseaudiotext {
    background: #fabd2d;
    border-radius: 3px 0px 0px 3px;
    padding: 0 10px;
    color: #000000;
}
#pulseaudio {
    border: 3px solid #fabd2d;
    color: #ebdbb2;
    border-radius: 0px 3px 3px 0px;
    background: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#tray {
    color: #2980b9;
    padding-right: 10px;
    margin-left: 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}


#custom-languagetext {
    background: #83a598;
    font-size: 20px;
    border-radius: 3px 0px 0px 3px;
    padding: 0 10px;
    color: #000000;
    margin-left: 10px;
}
#language {
    border: 3px solid #83a598;
    color: #ebdbb2;
    border-radius: 0px 3px 3px 0px;
    padding: 0 10px;
    margin-right: 5px;
    background: #000000;
}

#custom-arch {
    background: #458588;
    padding: 0 0px 0 15px;
    margin-left: 12px;
    color: #ebdbb2;
    border-radius: 3px 0px 0px 3px;
    font-size: 25px;
    /* background-color: rgba(43, 48, 59, 1.0); */
}

#custom-workspaces-text {
    background: #458588;
    padding: 0 0px 0 15px;
    margin-left: 12px;
    color: #ebdbb2;
    border-radius: 3px 0px 0px 3px;
    font-size: 25px;
    /* background-color: rgba(43, 48, 59, 1.0); */
}

#custom-power {
    margin: 0px 15px;
}
#custom-spotify {
    color: #689d6a;
    margin-left: 5px;
}


#custom-cavatext {
    background: #689d6a;
    font-size: 20px;
    border-radius: 3px 0px 0px 3px;
    padding: 0 10px;
    color: #000000;
    margin-left: 10px;
}
#cava {
    font-family: monospace;
    letter-spacing: 2px;  /* Adds space between characters */
    background: #000000;
    border: 3px solid #689d6a;
    color: #689d6a;
    padding: 0 5px;
    border-radius: 0px 3px 3px 0px;
}

#custom-seperator {
    color: #cccccc;
    font-size: 14px;
    margin: 0 5px;
}
